{% extends "base.html" %}

{% block beforeContent %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <h1 class="govuk-heading-xl">Before you start</h1>
    <p class="govuk-body">
      Use this service to apply for a construction licence in Samland.
    </p>

    <h2 class="govuk-heading-m">What you need to know</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>You must have a valid Minecraft: Java Edition account</li>
      <li>You need to own the land or have the land owner's permission for your construction</li>
      <li>Have details of your construction project ready</li>
    </ul>

    <h2 class="govuk-heading-m">How long it takes</h2>
    <p class="govuk-body">
      The application usually takes about 20 minutes to complete.
    </p>

    <h2 class="govuk-heading-m">Start your application</h2>
    <a href="{{next_step}}" class="govuk-button" data-module="govuk-button">
      Start now
    </a>
  </main>
</div>
{% endblock %}