{% extends "base.html" %}

{% block beforeContent %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" role="main">
    <form method="post" action="{{ url_for('main.question_6') }}">
      {{ form.hidden_tag() }}

      <h1 class="govuk-heading-xl">Describe how your construction might impact Samland’s society</h1>

      <div class="govuk-form-group{% if form.social_impact_description.errors %} govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="{{ form.social_impact_description.id }}">
          Impact description
        </label>
        <div id="impact-hint" class="govuk-hint">
          For example, how it could affect transport, housing, environment, or the community.
        </div>
        {% if form.social_impact_description.errors %}
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ form.social_impact_description.errors[0] }}
          </p>
        {% endif %}
        {{ form.social_impact_description(class="govuk-textarea", id="social_impact_description", rows="6", aria_describedby="impact-hint") }}
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </main>
</div>
{% endblock %}
